/* License & Attributions

Some of this code derives from the pico project
(https://picocss.com/docs/).
Said derivations were made available under the CC BY-SA 4.0 license
(https://creativecommons.org/licenses/by-sa/4.0).
*/

:root {
    --pico-block-spacing-vertical: 2.0rem;
    --pico-block-spacing-horizontal: 2.0rem;
}

html {
    scroll-behavior: smooth;
}

/* Used to add an icon to external URLS */
.external {
    padding-right: 1.0em;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23888888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>');
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center right;
}

/* this uses the values of h3 */
h2 {
  --pico-font-size:1.5rem;
  --pico-line-height:1.175;
  --pico-typography-spacing-top:2.25rem;
  --pico-color: var(--pico-h3-color);
}

/* make all tables striped */

tbody tr:nth-child(odd) th,
tbody tr:nth-child(odd) td {
  background-color: var(--pico-table-row-stripped-background-color);
}

.maingrid {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 175px minmax(0, 1fr);
  grid-gap: 2.2rem;
}

.muted {
    color: var(--pico-muted-color);
}

/* Horizontal nav */
aside {
    font-size: 16px;
    position: sticky;
    top: 0; /* Stay at the top */
    grid-area: sidebar;
    /* for some reason, setting this to an absolute value is the only way to make sticky work,
       _and_ push the footer at the same time */
    height: 600px;
}

/* Style currently selected item in navbar */
nav.listnav a.active {
    background-color: var(--pico-code-background-color);
}

nav.listnav ul ul {
    padding-top: 0.2rem; /* increase vertical space between list elem and first subelemnt */
    padding-left: 0.75rem;  /* indent nested list */
}

/* Landmarks
 */

#header-nav {
    margin-top: 8px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.14em;
    line-height: 1.35;
}

/* O with logo */
.o-container {
  position: relative;
  display: inline-flex;
  white-space: nowrap;
  transform: scaleX(1.12); /* Slightly wider "O" */
}

.o-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25em;  /* Adjust size as needed */
  height: 1.25em;
  transform: translate(-8%, -9.3%);
  pointer-events: none; /* Ensures text selection works normally */
  user-select: none; /* Prevents SVG from being treated as selectable text */
}

/* only display hamburger mobile on certain viewport sizes  */
#hamburger-menu, #mobile-menu {
    display: none;
}

html.dark-mode {
    color-scheme: dark;
}

html.light-mode {
    color-scheme: light;
}

/* TODO: maybe add a max-width? */
main {
    grid-area: content;
}

/* dark mode tweaks */
[data-theme="dark"] article {
    background: none;
    box-shadow: none;
}

/* [data-theme="dark"] #moon { */
/*     display: block; */
/* } */

/* [data-theme="dark"] #sun { */
/*     display: none; */
/* } */
/* [data-theme="light"] #moon { */
/*     display: none; */
/* } */

/* [data-theme="light"] #sun { */
/*     display: block; */
/* } */

#moon, #sun {
    display: none; /* Initially hide both */
}

[data-theme="dark"] #moon {
    display: inline;
}

[data-theme="dark"] #sun {
    display: none;
}

[data-theme="light"] #moon {
    display: none;
}

[data-theme="light"] #sun {
    display: inline;
}

footer {
    grid-area: footer;
    padding-bottom: 20px;
}

/* Syntax highlighting
*/

/* render monospace'd code smaller */
code {
    font-size: 0.85em;
}

/* for some reason this looks strange at the inline code fontsize */
pre > code {
    font-size: 0.96em;
}

code {color: var(--pico-color)}
code span.kw { color: var(--pico-ins-color); font-weight: 600; } /* Keyword */

/* Anchor links next to headers */

:is(h1,
h2,
h3,
h4)>a {
    padding-left:calc(var(--pico-spacing) * .5);
    font-weight:400;
    text-decoration:none;
    opacity:0;
    visibility: none;
    transition:color var(--pico-transition) opacity var(--pico-transition);
    user-select: none;
}

:is(h1,
h2,
h3,
h4)>a:focus-visible {
  box-shadow:none;
  color:var(--pico-primary);
  opacity:1
}

:is(h1,
h2,
h3,
h4):hover>a {
  opacity:.25
}

:is(h1,
h2,
h3,
h4):hover>a:hover {
    opacity:.5;
}

:is(h1,
h2,
h3,
h4):hover>a:focus-visible {
    opacity:1;
}
