/* License & Attributions

Some of this code derives from the pico project
(https://picocss.com/docs/).
Those assets were made available under the CC BY-SA 4.0 license
(https://creativecommons.org/licenses/by-sa/4.0).
*/

/* these woff2 fonts were forged from the official Lato ttf files, using google's woff2_compress
IMO, these woff2 files have superior kerning compared to the woff2 files on googlefonts.
Also, the official woff2 files from the Lato website had vertical spacing issues 
*/
@font-face {
    font-family: "Lato";
    src: url("lato.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("lato-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* The monospace font looks kind of okay on some windows devices, actually */
@font-face {
    font-family: "CommitMonoVariable";
    src: url("CommitMonoVariable.woff2") format("woff2");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --pico-block-spacing-vertical: 2.0rem;
    --pico-block-spacing-horizontal: 2.0rem;
    /* Ubuntu, Open Sans, Cantarell, Lato are nice */
    --header-font: "Lato", var(--pico-font-family-sans-serif);
    --monospace-font: "CommitMonoVariable", var(--pico-font-family-monospace);
    /* Windows users */
    /* --pico-font-family-sans-serif: "Segoe UI Variable Static Display"; */
}

html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}


h1, h2, h3, #documentation-menu, .logo {
    font-family: var(--header-font);
}

/* Used to add an icon to external URLS */
.external {
    padding-right: 1.0em;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23888888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>');
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center right;
}

/* this uses the values of h3 */
h2 {
  --pico-font-size:1.5rem;
  --pico-line-height:1.175;
  --pico-typography-spacing-top:2.25rem;
  --pico-color: var(--pico-h3-color);
}

/* make all tables striped */

tbody tr:nth-child(odd) th,
tbody tr:nth-child(odd) td {
  background-color: var(--pico-table-row-stripped-background-color);
}

.maingrid {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 175px minmax(0, 1fr);
  grid-gap: 2.2rem;
}

.muted {
    color: var(--pico-muted-color);
}

/* Horizontal nav */
aside {
    font-size: 16px;
    position: sticky;
    top: 0; /* Stay at the top */
    grid-area: sidebar;
    /* for some reason, setting this to an absolute value is the only way to make sticky work,
       _and_ push the footer at the same time */
    height: 850px;
}

/* Style currently selected item in navbar */
.listnav a.active {
    background-color: var(--pico-code-background-color);
}

[data-theme="dark"] .listnav a.active {
    background-color: var(--pico-muted-border-color);
}

.listnav ul ul {
    padding-top: 0.2rem; /* increase vertical space between list elem and first subelemnt */
    padding-left: 0.75rem;  /* indent nested list */
}

/* Landmarks
 */

#header-nav {
    margin-top: 8px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.14em;
    line-height: 1.35;
}

#hamburger-icon {
    width: 25px;
    height: 25px;
}

/* O with logo */

.logo {
    all: unset;
    cursor: pointer;
    font-family: var(--header-font);
}

.o-container {
  position: relative;
  display: inline-flex;
  white-space: nowrap;
  transform: scaleX(1.07); /* Slightly wider "O" */
}


.o-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25em;  /* Adjust size as needed */
  height: 1.25em;
  transform: translate(-8.1%, -9.1%);
  pointer-events: none; /* Ensures text selection works normally */
  user-select: none; /* Prevents SVG from being treated as selectable text */
}

/* only display hamburger mobile on certain viewport sizes  */
#hamburger-menu, #mobile-menu {
    display: none;
}

html.dark-mode {
    color-scheme: dark;
}

html.light-mode {
    color-scheme: light;
}

main {
    grid-area: content;
    min-width: 0; /* important for responsive layout; see pj-dev.com/blog/flex-items-and-min-width-0 */
}

/* dark mode tweaks */
[data-theme="dark"] article {
    background: none;
    box-shadow: none;
}

/* may be relevant wheen js is disabled??? */
#moon, #sun {
    display: none; /* Initially hide both */
}

[data-theme="dark"] #moon {
    display: inline;
}

[data-theme="dark"] #sun {
    display: none;
}

[data-theme="light"] #moon {
    display: none;
}

[data-theme="light"] #sun {
    display: inline;
}

footer {
    grid-area: footer;
    padding-bottom: 20px;
}

/* Syntax highlighting
*/

/* render monospace'd code smaller */
code {
    font-size: 0.86em;
    font-family: CommitMonoVariable;

    /* SF Mono */
    /* font-size: 0.85em; */
}

/* for some reason this looks strange at the inline code fontsize */
pre > code {
    font-family: CommitMonoVariable;
    font-size: 1.0em;
}

code {color: var(--pico-color)}
code span.kw { color: var(--pico-ins-color); font-weight: 600; } /* Keyword */

/* Anchor links next to headers */

:is(h1,
h2,
h3,
h4)>a {
    padding-left:calc(var(--pico-spacing) * .5);
    font-weight:400;
    text-decoration:none;
    opacity:0;
    visibility: none;
    transition:color var(--pico-transition) opacity var(--pico-transition);
    user-select: none;
}

:is(h1,
h2,
h3,
h4)>a:focus-visible {
  box-shadow:none;
  color:var(--pico-primary);
  opacity:1
}

:is(h1,
h2,
h3,
h4):hover>a {
  opacity:.25
}

:is(h1,
h2,
h3,
h4):hover>a:hover {
    opacity:.5;
}

:is(h1,
h2,
h3,
h4):hover>a:focus-visible {
    opacity:1;
}
