<!-- -*- mode: markdown -*- -->
---
title: Het XML-schema
position: 2
---

<!-- # Visuele weergave -->

<!-- Hier komt de visuele weergave van ORI-A te staan. -->

<!-- ![ORI-A Diagram](ORI-A-diagram.svg) -->

<!-- <div style="width: 100%; height: 600px; overflow: auto; border: 1px solid #ccc;"> -->
<!--   <iframe src="ORI-A-diagram.svg" style="width: 100%; height: 100%; border: none;"></iframe> -->
<!-- </div> -->


# Gebruik van ORI-A met MDTO

ORI-A laat het beschrijven van informatieobjecten (**vergaderstukken**, **mediabestanden**, etc.) over aan **MDTO**. Met andere woorden: ORI-A beschrijft domein*specifieke* gegevens — raadsgegevens — terwijl MDTO beperkt blijft tot meer generieke gegevens over documenten en bestanden, zoals hun aanmaakdatum en auteur.

::: waarschuwing
De enige _inhoudelijke_ informatie over informatieobjecten die in ORI-A wordt opgenomen is `<informatieobjectType>`. Deze informatie overlapt met `<classificatie>` binnen MDTO.  Deze informatie mag alsnog in ORI-A worden opgenomen, omdat het soms wel degelijk domeinspecifieke informatie betreft.  Voor het begrijpen van een vergadering kan het bijvoorbeeld uitmaken of een document een motie, amendment, of voorstel is.
:::

## ORI-A → MDTO verwijzingen in XML vorm

Om ORI-A gegevens aan een MDTO informatieobject te koppelen, verwijs je naar het ID van een in MDTO opgesteld informatieobject  (zie ook [`verwijzingGegevens`](#verwijzing-gegevens)):

<!-- TODO: misschien wel mooi om het MDTO bestand ook als voorbeeld op te voeren. -->
``` xml
<heeftAlsBijlage>
    <informatieobjectType>Motie</informatieobjectType>
    <verwijzingInformatieobject>
        <verwijzingID>document-009</verwijzingID>
        <verwijzingNaam>Motie van lid Smit</verwijzingNaam>
    </verwijzingInformatieobject>
</heeftAlsBijlage>
```

Het element `<verwijzingNaam>` hierboven is slechts een hulpsteuntje voor menselijke lezers — om een verwijzing tot stand te brengen volstaat `<verwijzingID>`.


<!-- # Vormgeving van ORI-A XML-bestanden -->

<!-- Het ORI-A XML-schema is zo opgesteld dat er maximaal één vergadering per ORI-A XML-bestand wordt uitgedrukt. Hierdoor konden de interne verwijzingen tussen andere ORI-A elementen en `<vergadering>` simpel worden gehouden.  -->

<!-- <\!-- dit is preservica documentatie, at best. Ik denk niet dat we dit per se officeel willen supporten, want een XSD schema kan geen _verzamelingen_ bestanden valideren, maar alleen indivuele bestanden. Of te wel, dit is highly discouraged, en uiteindelijk bad practice.  -\-> -->
<!-- Het ORI-A XML-schema staat overigens toe dat gegevens over één vergadering over meerdere ORI-A XML-bestanden worden verspreid. Uit opnametests is gebleken dat sommige e-depots metagegevens (zoals ORI-A data) direct aan mappen of digitale bestanden koppelen. In dat geval kan het wenselijk zijn om de ORI-A XML-bestanden op te knippen in meerdere bestanden, zodat ze makkelijk aan het juiste niveau kunnen worden gerelateerd. -->

# ORI-A (_root_-element)


<section>
`<ORI-A>` — het eerste element in een ORI-A XML boom — kent weinig verplichte kind elementen. Dit _root_-element hoeft alleen een `<vergadering>` en `<agendapunt>` te bevatten. Dit omdat er altijd een vergadering moet zijn geweest waar data over is gegenereerd, en omdat deze vergadering minstens een agendapunt moet hebben gehad.

::: waarschuwing
**Let op:**  Alhoewel `<mediabron>` strikt genomen niet verplicht is, is een audio of video verslag noodzakelijk voor de toekomstige interpreteerbaarheid van raadsvergaderingen. Alleen in _zeer_ zeldzame situaties, zoals een besloten vergadering zonder opnames, mag `<mediabron>` ontbreken.
:::

</section>

{{ ori_a_table }}

#### XML voorbeeld

``` xml
<ORI-A>
    <vergadering> … </vergadering>
    <agendapunt> … </agendapunt>
    <mediabron> … </mediabron>
</ORI-A>
```

# Vergadering gegevens

{{ vergadering_table }}

<!-- misschien deze uitklapbaar maken -->
#### XML voorbeeld

<!-- ampersand chars (&) cannot actually exist in xml-->
``` xml
<vergadering>
    <ID>abcd-1234</ID>
    <naam>Vergadering Commisie Ruimte en Wonen</naam>
    <vergaderingsType>Commissievergadering</vergaderingsType>
    <locatie>Gemeentehuis Oosterhout</locatie>
    <vergaderdatum>2023-05-26</vergaderdatum>
</vergadering>
```

# Agendapunt gegevens

{{ agendapunt_table }}

#### XML voorbeeld

``` xml
<agendapunt>
    <ID>a120-003</ID>
    <agendapuntVolgnummer>3b</agendapuntVolgnummer>
    <besloten>false</besloten>
    <agendapuntTitel>Begroting Bankjes in Westerpark</agendapuntTitel>
</agendapunt>
```

# Natuurlijk persoon gegevens

<!-- TODO: korte uitleg over waar dit datatype allemaal voorkomt -->
{{ natuurlijk_persoon_table }}

#### XML voorbeeld

``` xml
</todo>
```
# Fractie gegevens

{{ fractie_table }}

#### XML voorbeeld

``` xml
<fractie>
    <fractienaam>D66 Oosterhout</fractienaam>
    <fractieNeemtDeelAanStemming>
        <fractieStemresultaat>Aangenomen</fractieStemresultaat>
        <gegevenOpStemming>
            <verwijzingID>stemming-0009</verwijzingID>
            <verwijzingNaam>Meer groen op straat (GL/D66)</verwijzingNaam>
        </gegevenOpStemming>
    </fractieNeemtDeelAanStemming>
</fractie>
```

# Verwijzing gegevens

Dit zijn de gegevens die worden gebruikt bij het verwijzen van het ene naar het andere element binnen ORI-A, of naar informatieobjecten buiten ORI-A.

{{ verwijzing_table }}

# Begrip gegevens

Zie [begrippenlijsten gebruiken](hoe-werkt-ori-a#begrippenlijsten-gebruiken).

{{ begrip_table }}

# Informatieobject gegevens

Dit zijn de gegevens die worden gebruikt om te verwijzen naar informatieobjecten.

{{ informatieobject_table }}
