<!-- -*- mode: markdown -*- -->
---
title: Het XML-schema
title-icon: </>
position: 3
---

Op deze pagina vind je de formele specificaties van alle onderdelen van het ORI-A XML-schema. Deze onderdelen kun je ook terugvinden in het [ORI-A UML diagram](https://ori-a.nl/ORI-A-diagram.pdf).

De inhoud van deze pagina wordt automatisch gegenereerd op basis van het XML-schema, en is dus altijd up-to-date.

# Entiteiten

<!-- todo: misschien een soort legenda van hoe deze pagina gelezen dient te worden? -->
Datatypes van alle hoofdentiteiten in ORI-A.

## ORI-A

Gegevens die onder het _root_-element `<ORI-A>` komen.

{{ ori_a_table }}

### XML voorbeeld

``` xml
<?xml version="1.0" encoding="utf-8"?>
<ORI-A xmlns="https://ori-a.nl">
    <vergadering> … </vergadering>
    <agendapunt> … </agendapunt>
    <persoonBuitenVergadering> … </persoonBuitenVergadering>
    <aanwezigeDeelnemer> … </aanwezigeDeelnemer>
</ORI-A>
```

## Vergadering

::: waarschuwing
**Let op:** `<isVastgelegdMiddels>` is niet verplicht in ORI-A, omdat er soms geen opnamen worden gemaakt van een vergadering, bijvoorbeeld als deze besloten is. In alle andere gevallen raden we echter aan om via dit element een transcriptie of (audio)visueel verslag op te nemen.
:::


{{ vergadering_table }}

<!-- misschien deze uitklapbaar maken -->
### XML voorbeeld

``` xml
<vergadering>
    <ID>abcd-1234</ID>
    <naam>Commisie Ruimte en Wonen</naam>
    <vergaderingsType>Commissievergadering</vergaderingsType>
    <locatie>Gemeentehuis Oosterhout</locatie>
    <vergaderdatum>2023-05-26</vergaderdatum>
    <bestuurslaag>
        <begripLabel>Gemeente Oosterhout</begripLabel>
        <begripCode>gm0826</begripCode>
        <verwijzingBegrippenlijst>
            <verwijzingID>https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4</verwijzingID>
        </verwijzingBegrippenlijst>
    </bestuurslaag>
</vergadering>
```

## Agendapunt

Gegevens over een agendapunt wat tijdens de vergadering behandeld is, zoals het volgnummer en bijbehorende stukken. De volgorde van agendapunt-elementen geeft aan in welke volgorde ze behandeld zijn.

{{ agendapunt_table }}


### XML voorbeeld

``` xml
<agendapunt>
    <ID>a120-003</ID>
    <volgnummer>3b</volgnummer>
    <besloten>false</besloten>
    <titel>Begroting Bankjes in Westerpark</titel>
</agendapunt>
```

## Stemming

:::tip
**Tip:** dit zijn gegevens over een **algemene stemming**; individuele stemkeuzes komen onder [`aanwezigeDeelnemerGegevens`](#aanwezige-deelnemer).
:::

{{ stemming_table }}

### XML voorbeeld

``` xml
<stemming>
    <ID>stemming-0010</ID>
    <stemmingType>Regulier</stemmingType>
    <!-- Let op dat een echte stemming vrijwel nooit over een motie _en_ persoon gaat -->
    <leidtTotBesluit>
        <besluitResultaat>Aangenomen</besluitResultaat>
    </leidtTotBesluit>
    <heeftBetrekkingOpAgendapunt>
        <verwijzingID>2028-354b</verwijzingID>
        <verwijzingNaam>Beleid openbare ruimte 2023</verwijzingNaam>
    </heeftBetrekkingOpAgendapunt>
    <heeftBetrekkingOpBesluitvormingsstuk>
        <informatieobjectType>
            <begripLabel>Motie</begripLabel>
            <verwijzingBegrippenlijst>
                <verwijzingID>https://ori-a.nl/begrippenlijsten#vergaderstuktypes</verwijzingID>
            </verwijzingBegrippenlijst>
        </informatieobjectType>
        <verwijzingInformatieobject>
            <verwijzingID>02f2-3ba4</verwijzingID>
            <verwijzingNaam>Motie PvdD Groene ruimte borgen</verwijzingNaam>
        </verwijzingInformatieobject>
    </heeftBetrekkingOpBesluitvormingsstuk>
</stemming>
```

## Besluit
{{ besluit_table }}

## Fractie

{{ fractie_table }}

### XML voorbeeld

``` xml
<fractie>
    <ID>D66-gm0826</ID>
    <fractienaam>D66</fractienaam>
    <bestuurslaag>
        <begripLabel>Gemeente Oosterhout</begripLabel>
        <begripCode>gm0826</begripCode>
        <verwijzingBegrippenlijst>
            <verwijzingID>https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4</verwijzingID>
        </verwijzingBegrippenlijst>
    </bestuurslaag>
</fractie>
```
## Dagelijks bestuur

{{ dagelijks_bestuur_table }}

### XML voorbeeld

``` xml
    <dagelijksBestuur>
        <ID>College van B&W-gm0546</ID>
        <dagelijksBestuurNaam>College van B&W</dagelijksBestuurNaam>
        <dagelijksBestuurType>College</dagelijksBestuurType>
        <bestuurslaag>
            <begripLabel>Gemeente Leiden</begripLabel>
            <begripCode>gm0546</begripCode>
            <verwijzingBegrippenlijst>
                <verwijzingID>https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4</verwijzingID>
                <verwijzingNaam>TOOI Register gemeenten compleet</verwijzingNaam>
            </verwijzingBegrippenlijst>
        </bestuurslaag>
    </dagelijksBestuur>
```


## Natuurlijk persoon

Dit datatype komt voor onder de top-level elementen `<aanwezigeDeelnemer>` en `<persoonBuitenVergadering>`.

Een belangrijke toepassing van dit datatype is vastleggen wie lid is van welke fractie. Dit kan via het `<isLidVanFractie>` element (zie XML voorbeeld).

{{ natuurlijk_persoon_table }}

### XML voorbeeld

``` xml
<isNatuurlijkPersoon>
            <ID>Persoon-1</ID>
            <geslachtsaanduiding>Man</geslachtsaanduiding>
            <functie>Raadslid</functie>
            <naam>
                <achternaam>de Boer</achternaam>
                <volledigeNaam>Peter de Boer</volledigeNaam>
            </naam>
            <nevenfunctie>
                <omschrijving>Promovendus</omschrijving>
                <naamOrganisatie>Universiteit Leiden</naamOrganisatie>
                <bezoldigd>true</bezoldigd>
            </nevenfunctie>
            <isLidVanFractie>
                <voorzitter>true</voorzitter>
                <verwijzingFractie>
                    <verwijzingID>D66-gm0826</verwijzingID>
                </verwijzingFractie>
            </isLidVanFractie>
        </isNatuurlijkPersoon>
```

## Aanwezige deelnemer

{{ aanwezige_deelnemer_table }}

### XML voorbeeld

``` xml
<aanwezigeDeelnemer>
    <rolnaam>Voorzitter</rolnaam>
    <isNatuurlijkPersoon>
        <ID>0028-08a0</ID>
        <functie>Burgemeester</functie>
        <naam>
            <achternaam>Veltman</achternaam>
            <volledigeNaam>Julia</volledigeNaam>
        </naam>
        ...
    </isNatuurlijkPersoon>
    <neemtDeelAanStemming>
        <keuzeStemming>Tegen</keuzeStemming>
        <gegevenOpStemming>
            <verwijzingID>21.0081</verwijzingID>
        </gegevenOpStemming>
    </neemtDeelAanStemming>
    <spreektTijdensSpreekfragment>
        <videoTijdsaanduidingAanvang>00:02:20</videoTijdsaanduidingAanvang>
        <spreektTijdensAgendapunt>
            <verwijzingID>b6bd-0aef</verwijzingID>
        </spreektTijdensAgendapunt>
    </spreektTijdensSpreekfragment>
    ...
```

# Gegevensgroepen

Gegevensgroepen (<span class="badge">G</span>) komen altijd direct onder een ander element, en krijgen nooit een ID.

## Naam

Gegevens over de naam van een natuurlijk persoon.

{{ naam_table }}

### XML voorbeeld


``` xml
<naam>
    <achternaam>Veltman</achternaam>
    <volledigeNaam>Julia</volledigeNaam>
</naam>
```

## Stemming over personen

{{ stemming_over_personen_table }}

### XML voorbeeld


``` xml
<stemming>
    <ID>stemming-0011</ID>
    <resultaatStemmingOverPersonen>Maria Zeeger is verkozen als commissielid Ruimte en Wonen</resultaatStemmingOverPersonen>
    <stemmingOverPersonen>
        <naamKandidaat>Willem Wouters</naamKandidaat>
        <aantalUitgebrachteStemmenvolledigeNaam>2</aantalUitgebrachteStemmen>
    <stemmingOverPersonen>
        <naamKandidaat>Henk Meegenkamp</naamKandidaat>
        <aantalUitgebrachteStemmenvolledigeNaam>4</aantalUitgebrachteStemmen>
    <stemmingOverPersonen>
        <naamKandidaat>Maria Zeeger</naamKandidaat>
        <aantalUitgebrachteStemmenvolledigeNaam>6</aantalUitgebrachteStemmen>
```

## Nevenfunctie

{{ nevenfunctie_table }}

### XML voorbeeld


``` xml
<nevenfunctie>
    <omschrijving>Promovendus</omschrijving>
    <naamOrganisatie>Universiteit Leiden</naamOrganisatie>
    <bezoldigd>true</bezoldigd>
</nevenfunctie>
```

# Relatieklasses

Relatieklasses bevatten gegevens over een relatie tussen twee entiteiten.

## Fractielidmaatschap


{{ fractielidmaatschap_table }}

### XML voorbeeld

``` xml
<isLidVanFractie>
    <voorzitter>true</voorzitter>
    <verwijzingFractie>
        <verwijzingID>D66-gm0826</verwijzingID>
    </verwijzingFractie>
</isLidVanFractie>
```

## Dagelijks bestuur lidmaatschap


{{ dagelijks_bestuur_lidmaatschap_table }}

### XML voorbeeld

``` xml
<isLidVanDagelijksBestuur>
    <datumBeginDagelijksBestuurLidmaatschap>2023-09-01</datumBeginDagelijksBestuurLidmaatschap>
    <verwijzingDagelijksBestuur>
        <verwijzingID>College van B&amp;W-gm0546</verwijzingID>
    </verwijzingDagelijksBestuur>
</isLidVanDagelijksBestuur>
```

## Spreekfragment

{{ spreekfragment_table }}

``` xml
<spreektTijdensSpreekfragment>
    <videoTijdsaanduidingAanvang>00:02:20</videoTijdsaanduidingAanvang>
    <spreektTijdensAgendapunt>
        <verwijzingID>2028a00aaa2a8aaa00a2aab6bdaef</verwijzingID>
    </spreektTijdensAgendapunt>
</spreektTijdensSpreekfragment>
```

## Stem

{{ stem_table }}

### XML voorbeeld

``` xml
<neemtDeelAanStemming>
    <keuzeStemming>Voor</keuzeStemming>
    <gegevenOpStemming>
        <verwijzingID>RV 23.0081</verwijzingID>
    </gegevenOpStemming>
</neemtDeelAanStemming>
```

## Stemresultaat per fractie

Gegevens over hoe de fractie als geheel tegenover een stemming stond, zoals of de aanwezige leden unaniem voor, unaniem tegen, of juist verdeeld hebben gestemd. Deze gegevens komen altijd onder het `<neemtDeelAanStemming>`-element van een `<fractie>`.

Het stemresultaat op fractie-niveau is in de regel af te leiden [uit stemkeuzes van aanwezige deelnemers](#stem-gegevens).

{{ stemresultaat_per_fractie_table }}

### XML voorbeeld

``` xml
<fractie>
    …
    <fractienaam>D66</fractienaam>
    <neemtDeelAanStemming>
        <fractieStemresultaat>Aangenomen</fractieStemresultaat>
        <gegevenOpStemming>
            <verwijzingID>stemming-0009</verwijzingID>
            <verwijzingNaam>Meer groen op straat (GL/D66)</verwijzingNaam>
        </gegevenOpStemming>
    </fractieNeemtDeelAanStemming>
</fractie>
```

# Algemeen

Algemene datatypes (<span class="badge">A</span>) die op meerdere plekken terugkomen.

## Verwijzing gegevens

Dit zijn de gegevens die worden gebruikt bij het verwijzen van het ene naar het andere element binnen ORI-A, of naar informatieobjecten buiten ORI-A.

{{ verwijzing_table }}

## Begrip gegevens

Zie [begrippenlijsten gebruiken](tutorial#begrippenlijsten-gebruiken).

{{ begrip_table }}

## Informatieobject gegevens

Dit zijn de gegevens die worden gebruikt om te **verwijzen** naar elders gedefinieerde informatieobjecten.

{{ informatieobject_table }}
