<!-- -*- mode: markdown -*- -->
---
title: Het XML-schema
position: 3
---

Op deze pagina worden de verschillende onderdelen van het ORI-A XML-schema uitgelegd. Deze onderdelen zijn ook terug te zien op de [ORI-A UML diagram](https://ori-a.nl/ORI-A-diagram.pdf).
<!-- todo: misschien een soort legenda van hoe deze pagina gelezen dient te worden? -->

# Entiteiten

Gegevens van alle entiteiten die onder het _root_-element `<ORI-A>` komen.

{{ ori_a_table }}

### XML voorbeeld

``` xml
<?xml version="1.0" encoding="utf-8"?>
<ORI-A xmlns="https://ori-a.nl">
    <vergadering> … </vergadering>
    <agendapunt> … </agendapunt>
    <persoonBuitenVergadering> … </persoonBuitenVergadering>
    <aanwezigeDeelnemer> … </aanwezigeDeelnemer>
</ORI-A>
```

## Vergadering

Gegevens over de vergadering, zoals de startdatum en locatie. Een vergadering kan uit een of meer deelvergaderingen bestaan.

::: waarschuwing
**Let op:**  `<isVastgelegdMiddels>` is niet verplicht in ORI-A, omdat er soms geen opnamen worden gemaakt van een vergadering, bijvoorbeeld als deze besloten (geheim) is. In alle andere gevallen raden we echter aan om via dit element altijd een transcriptie of (audio)visueel verslag op te nemen in de dataset.
:::

{{ vergadering_table }}

<!-- misschien deze uitklapbaar maken -->
### XML voorbeeld

``` xml
<vergadering>
    <ID>abcd-1234</ID>
    <naam>Commisie Ruimte en Wonen</naam>
    <vergaderingsType>Commissievergadering</vergaderingsType>
    <locatie>Gemeentehuis Oosterhout</locatie>
    <vergaderdatum>2023-05-26</vergaderdatum>
    <bestuurslaag>
        <begripLabel>Gemeente Oosterhout</begripLabel>
        <begripCode>gm0826</begripCode>
        <verwijzingBegrippenlijst>
            <verwijzingID>https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4</verwijzingID>
        </verwijzingBegrippenlijst>
    </bestuurslaag>
</vergadering>
```

## Agendapunt

Gegevens over een agendapunt wat tijdens de vergadering behandeld is, zoals het volgnummer en bijbehorende stukken. Een agendapunt kan uit een of meer subagendapunten bestaan. 
De volgorde van agendapunt-elementen geeft aan in welke volgorde ze behandeld zijn.

{{ agendapunt_table }}

### XML voorbeeld

``` xml
<agendapunt>
    <ID>a120-003</ID>
    <volgnummer>3b</volgnummer>
    <besloten>false</besloten>
    <titel>Begroting Bankjes in Westerpark</titel>
</agendapunt>
```

## Stemming

Gegevens over een stemming, zoals het agendapunt of de persoon waarover gestemd is.

:::tip
**Tip:** dit zijn gegevens over een **algemene stemming**; individuele stemkeuzes komen onder [`aanwezigeDeelnemerGegevens`](#aanwezige-deelnemer).
:::

{{ stemming_table }}

### XML voorbeeld

``` xml
<stemming>
    <ID>stemming-0010</ID>
    <stemmingType>Regulier</stemmingType>
    <!-- Let op dat een echte stemming vrijwel nooit over een motie _en_ persoon gaat -->
    <leidtTotBesluit>
        <besluitResultaat>Aangenomen</besluitResultaat>
    </leidtTotBesluit>
    <heeftBetrekkingOpAgendapunt>
        <verwijzingID>2028-354b</verwijzingID>
        <verwijzingNaam>Beleid openbare ruimte 2023</verwijzingNaam>
    </heeftBetrekkingOpAgendapunt>
    <heeftBetrekkingOpBesluitvormingsstuk>
        <informatieobjectType>
            <begripLabel>Motie</begripLabel>
            <verwijzingBegrippenlijst>
                <verwijzingID>https://ori-a.nl/begrippenlijsten#vergaderstuk-types</verwijzingID>
            </verwijzingBegrippenlijst>
        </informatieobjectType>
        <verwijzingInformatieobject>
            <verwijzingID>02f2-3ba4</verwijzingID>
            <verwijzingNaam>Motie PvdD Groene ruimte borgen</verwijzingNaam>
        </verwijzingInformatieobject>
    </heeftBetrekkingOpBesluitvormingsstuk>
</stemming>
```

## Besluit

Gegevens over het besluit waartoe de stemming heeft geleid, zoals of het unaniem aangenomen of verworpen is.

{{ besluit_table }}

## Fractie

Gegevens over een fractie, zoals de naam en het stemgedrag van de fractie.

Bij `<bestuurslaag>` bij voorkeur een waarde uit een van de volgende TOOI begrippenlijsten opgeven:

* [Begrippenlijst Gemeentes](https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4)
* [Begrippenlijst Waterschappen](https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4)
* [Begrippenlijst Provincie](https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4)

{{ fractie_table }}

### XML voorbeeld

``` xml
<fractie>
    <ID>D66-gm0826</ID>
    <fractienaam>D66</fractienaam>
    <bestuurslaag>
        <begripLabel>Gemeente Oosterhout</begripLabel>
        <begripCode>gm0826</begripCode>
        <verwijzingBegrippenlijst>
            <verwijzingID>https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4</verwijzingID>
        </verwijzingBegrippenlijst>
    </bestuurslaag>
</fractie>
```
## Dagelijks bestuur

Gegevens over een dagelijks bestuur, zoals de naam van het bestuur.

Bij `<bestuurslaag>` bij voorkeur een waarde uit een van de volgende TOOI begrippenlijsten opgeven:

* [Begrippenlijst Gemeentes](https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4)
* [Begrippenlijst Waterschappen](https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4)
* [Begrippenlijst Provincie](https://identifier.overheid.nl/tooi/set/rwc_gemeenten_compleet/4)

{{ dagelijks_bestuur_table }}

### XML voorbeeld

``` xml
</todo>
```

## Persoon buiten vergadering

Gegevens over een persoon die een relatie heeft met de vergadering, maar niet zelf aanwezig was. Dit kan bijvoorbeeld een portefeuillehouder, indiender of afwezig raadslid zijn.

Het datatype van deze entiteit komt ook voor onder `<aanwezigeDeelnemer>`. Zie voor uitleg hierover de rubriek [Persoonsgegevens](https://ori-a.nl/tutorial#persoonsgegevens).

Een belangrijke toepassing van dit datatype is vastleggen wie lid is van welke fractie. Dit kan via het `<isLidVanFractie>` element (zie XML voorbeeld).

{{ natuurlijk_persoon_table }}

### XML voorbeeld

``` xml
</todo>
```

## Aanwezige deelnemer

Gegevens over een persoon die daadwerkelijk bij de vergadering aanwezig was, zoals diens stemgedrag, inspreekmomenten, en meer algemene persoonsgegevens.

{{ aanwezige_deelnemer_table }}

### XML voorbeeld

``` xml
<aanwezigeDeelnemer>
    <rolnaam>Voorzitter</rolnaam>
    <isNatuurlijkPersoon>
        <ID>0028-08a0</ID>
        <functie>Burgemeester</functie>
        <naam>
            <achternaam>Veltman</achternaam>
            <volledigeNaam>Julia</volledigeNaam>
        </naam>
        ...
    </isNatuurlijkPersoon>
    <neemtDeelAanStemming>
        <keuzeStemming>Tegen</keuzeStemming>
        <gegevenOpStemming>
            <verwijzingID>21.0081</verwijzingID>
        </gegevenOpStemming>
    </neemtDeelAanStemming>
    <spreektTijdensSpreekfragment>
        <videoTijdsaanduidingAanvang>00:02:20</videoTijdsaanduidingAanvang>
        <spreektTijdensAgendapunt>
            <verwijzingID>b6bd-0aef</verwijzingID>
        </spreektTijdensAgendapunt>
    </spreektTijdensSpreekfragment>
    ...
```

# Gegevensgroepen

Gegevensgroepen (<span class="badge">G</span>) bevatten een aantal gegevens die bij inhoudelijk elkaar horen. Ze komen in ORI-A altijd direct onder een ander element, en krijgen nooit een ID.

## Naam

Gegevens over de naam van een natuurlijk persoon.

{{ naam_table }}

### XML voorbeeld

``` xml
</todo>
```

## Stemming over personen

Gegevens die het het resultaat van een stemming over personen beschrijven, zoals het aantal stemmen wat een persoon haalde.

{{ stemming_over_personen_table }}

### XML voorbeeld

``` xml
</todo>
```

## Nevenfunctie

Gegevens over nevenfuncties van de persoon, zoals of het om een betaalde functie gaat.

{{ nevenfunctie_table }}

### XML voorbeeld

``` xml
</todo>
```

# Relatieklasses

## Fractielidmaatschap

Gegevens over wanneer iemand lid is geworden van welke fractie.

{{ fractielidmaatschap_table }}

### XML voorbeeld

``` xml
</todo>
```

## Dagelijks bestuur lidmaatschap

Gegevens over wanneer iemand lid is geworden van welk dagelijks bestuur.

{{ dagelijks_bestuur_lidmaatschap_table }}

### XML voorbeeld

``` xml
</todo>
```

## Spreekfragment

Gegevens over een spreekfragment waarin de deelnemer sprak, zoals het moment waarop dit fragment begon en eindigde.

{{ spreekfragment_table }}

## Stem

{{ stem_table }}

### XML voorbeeld

``` xml
</todo>
```

## Stemresultaat per fractie

Gegevens over hoe de fractie als geheel tegenover een stemming stond, zoals of de aanwezigen leden unaniem voor, unaniem tegen, of juist verdeeld hebben gestemd. Deze gegevens komt altijd onder het `<neemtDeelAanStemming>`-element van een `<fractie>`.

Het stemresultaat op fractie-niveau is in de regel af te leiden [uit stemkeuzes van aanwezige deelnemers](#stem-gegevens).

{{ stemresultaat_per_fractie_table }}

### XML voorbeeld

``` xml
<fractie>
    …
    <fractienaam>D66</fractienaam>
    <neemtDeelAanStemming>
        <fractieStemresultaat>Aangenomen</fractieStemresultaat>
        <gegevenOpStemming>
            <verwijzingID>stemming-0009</verwijzingID>
            <verwijzingNaam>Meer groen op straat (GL/D66)</verwijzingNaam>
        </gegevenOpStemming>
    </fractieNeemtDeelAanStemming>
</fractie>
```

# Algemeen

Algemene datatypes (<span class="badge">A</span>) die op meerdere plekken terugkomen.

## Verwijzing gegevens

Dit zijn de gegevens die worden gebruikt bij het verwijzen van het ene naar het andere element binnen ORI-A, of naar informatieobjecten buiten ORI-A.

{{ verwijzing_table }}

## Begrip gegevens

Zie [begrippenlijsten gebruiken](tutorial#begrippenlijsten-gebruiken).

{{ begrip_table }}

## Informatieobject gegevens

Dit zijn de gegevens die worden gebruikt om te **verwijzen** naar elders gedefinieerde informatieobjecten.

{{ informatieobject_table }}
