<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <meta name="description" content="Open raadsinformatie archiefstandaard">
    <meta name="keywords"
          content="archiefstandaard, raadsinformatie, ORI, archief, videotuul, videotulen, RIS, ORI-A">

    <!-- Open Graph (social media info) -->
    <meta property="og:title" content="{{ title }} • ORI-A"/>
    <meta property="og:description" content="Open raadsinformatie archiefstandaard"/>
    <meta property="og:image" content="https://ori-a.nl/social-card.png"/>
    <meta property="og:type" content="website"/>
    <title>{{ title }} • ORI-A</title>

    <link rel="stylesheet" href="pico.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="mobile.css" media="(max-width: 1020px)"/>

    <link rel="preload" href="/lato.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/lato-black.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/lato-bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/CommitMonoVariable.woff2" as="font" type="font/woff2" crossorigin>

    <script>
      (function() {
          const storedTheme = localStorage.getItem('theme');
          const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          const theme = storedTheme || (systemPrefersDark ? 'dark' : 'light');
          document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  </head>
  <body>
    <div class="maingrid container">
      <header id="header-nav">
        <a class="logo" aria-label="logo" href="index.html">{{- logo | safe -}}
          <span class="muted" style="font-size: 0.5em; display: block">Open Raadsinformatie <span style="color: var(--purple)">•</span> Archiefstandaard</span></a>
        <!-- right-side buttons -->
        <nav id="topbar-nav">
          <ul>
            <li>
              <a class="contrast" id="hamburger-menu" aria-label="Open navigation menu" title="Navigatie menu" href="">
                {{hamburgersvg | safe}}
              </a>
            </li>
            <li>
              <a class="contrast" id="theme-toggle" aria-label="Toggle dark mode" title="Zet donkere modus aan/uit" href="">
                {{- sunsvg | safe -}}
                {{- moonsvg | safe -}}
              </a>
            </li>
            <li>
              <a class="contrast" aria-label="GitHub repository" title="GitHub pagina" rel="noopener noreferrer" target="_blank" href="https://github.com/Regionaal-Archief-Rivierenland/ORI-A-XSD">
                {{githubsvg | safe}}
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <nav aria-hidden="true" id="mobile-menu">
        <header>
          <button class="secondary" id="close-btn" aria-label="Close navigation menu" title="Sluiten">
            &times;<!-- Cross symbol -->
          </button>
        </header>
        <div aria-label="Navigation menu" class="container">
          {{navbar | safe}}
        </div>
      </nav>
      <aside id="documentation-menu">
        <nav class="listnav">
          {{ navbar | safe }}
        </nav>
      </aside>
      <main class="container">
        <article role="document">
          {{ content | safe }}
        </article>
      </main>
      <footer>
        <hr>
        <small><a class="secondary" href="colofon">Colofon</a> • Website gemaakt met <a class="external secondary" rel="noopener noreferrer" target="_blank" href="https://picocss.com">Pico</a> • <a class="secondary external" rel="noopener noreferrer" target="_blank" href="https://github.com/Regionaal-Archief-Rivierenland/ORI-A-Website">Broncode website</a> (GPLv3)</small>
      </footer>
    </div>
  </body>
  <script src="concat.js" defer/></script>
</html>
