<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <title>ORI•A - {{ title }}</title>
    <link rel="icon" type="image/svg+xml" href="logo.svg">
    <link rel="stylesheet" href="css/pico/pico.min.css">
    <link rel="stylesheet" href="css/pico/pico.colors.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="theme-toggle.js" defer></script>
  </head>
  <body>
    <div class="maingrid container">
      <header>
        <!-- logo -->
        <div style="display: block">
          <a style="all: unset; cursor: pointer" href="index.html">
          <span class="o-container">O<svg aira-hidden="true" style="color: var(--pico-ins-color)" class="o-svg" viewbox="0 0 612 612" height=5em version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path id="path3" d="m7.1851 1.6309c5.8843-3.1834 12.804-1.3492 17.896 2.4283 27.861 17.06 55.783 34.023 83.605 51.142 8.7171 5.6812 7.0828 20.142-1.9932 24.63-28.204 17.235-56.407 34.471-84.611 51.706-8.0806 4.5524-20.389 0.18068-21.797-9.5321-0.55005-10.456-0.11022-20.967-0.2514-31.446 0.0186-25.814-0.0372-51.629 0.0279-77.442 0.11446-4.7911 2.9275-9.2105 7.1229-11.487z"/>
            </svg>
          </span>RI<span style="color: var(--pico-color-purple-800)">•</span>A
          <span class="muted" style="font-size: 0.5em; display: block">Openraads Informatie <span style="color: var(--pico-color-purple-800)">•</span> Archiefstandaard</span></a>
        </div>
        <!-- right-side buttons -->
        <div>
          <nav>
            <ul>
              <li>
                <a class="contrast" id="theme-toggle" aria-label="Turn off dark mode" href="#">
                  {{sunsvg | safe}}
                </a>
              </li>
              <li>
                <a class="contrast"  aria-label="GitHub repository" rel="noopener noreferrer" target="_blank" href="https://github.com/Regionaal-Archief-Rivierenland/ORI-A-XSD">
                  {{githubsvg | safe}}
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <aside id="documentation-menu">
        <nav>
          {{ navbar | safe }}
        </nav>
      </aside>
      <main class="container">
        <article role="document">
          {{ content | safe }}
        </article>
      </main>
      <footer>
        <hr>
        <small><a class="secondary">Contact</a> • Website gemaakt met <a class="external secondary" rel="noopener noreferrer" target="_blank" href="https://picocss.com">Pico</a> • <a class="secondary external" rel="noopener noreferrer" target="_blank" href="https://github.com/Regionaal-Archief-Rivierenland/ORI-A-Website">Broncode website</a> (GPLv3)</small>
      </footer>
    </div>
  </body>
</html>
