<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <meta name="description" content="ORI-A open raadsinformatie archiefstandaard">
    <meta name="keywords"
          content="archiefstandaard, raadsinformatie, ORI, archief, videotuul, open-source, RIS, ORI-a">
    <title>ORI•A - {{ title }}</title>
    <link rel="icon" type="image/svg+xml" href="logo.svg">
    <link rel="stylesheet" href="css/pico/pico.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width: 765px)" />
    <script src="theme-toggle.js" defer></script>
    <script src="hamburger-menu-toggle.js" defer></script>
    <script>
      (function() {
          const storedTheme = localStorage.getItem('theme');
          const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          const theme = storedTheme || (systemPrefersDark ? 'dark' : 'light');
          document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>
  </head>
  <body>
    <div class="maingrid container">
      <header id="header-nav">
        <a class="logo" aria-label="logo" style="all: unset; cursor: pointer" href="index.html">
          {{logo | safe}}
          <span class="muted" style="font-size: 0.5em; display: block">Open raadsinformatie <span style="color: #4D1A57">•</span> Archiefstandaard</span>
        </a>
        <!-- right-side buttons -->
        <nav id="topbar-nav">
          <ul>
            <li>
              <a class="contrast" id="hamburger-menu" aria-label="Open navigation menu" href="#">
                {{hamburgersvg | safe}}
              </a>
            </li>
            <li>
              <a class="contrast" id="theme-toggle" aria-label="Turn off dark mode" href="#">
                {{sunsvg | safe}}
                {{moonsvg | safe}}
              </a>
            </li>
            <li>
              <a class="contrast" aria-label="GitHub repository" rel="noopener noreferrer" target="_blank" href="https://github.com/Regionaal-Archief-Rivierenland/ORI-A-XSD">
                {{githubsvg | safe}}
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <nav id="mobile-menu">
          <header>
            <button class="secondary" id="close-btn" aria-label="Close navigation menu">
              &times; <!-- This will be the cross symbol -->
            </button>
          </header>
          <div aria-label="Navigation menu" class="container">
            {{navbar | safe}}
          </div>
      </nav>
      <aside id="documentation-menu">
        <nav class="listnav">
          {{ navbar | safe }}
        </nav>
      </aside>
      <main class="container">
        <article role="document">
          {{ content | safe }}
        </article>
      </main>
      <footer>
        <hr>
        <small><a class="secondary">Contact</a> • Website gemaakt met <a class="external secondary" rel="noopener noreferrer" target="_blank" href="https://picocss.com">Pico</a> • <a class="secondary external" rel="noopener noreferrer" target="_blank" href="https://github.com/Regionaal-Archief-Rivierenland/ORI-A-Website">Broncode website</a> (GPLv3)</small>
      </footer>
    </div>
  </body>
</html>
