<ul>
  {% for page in pages %}
  <li {{ "class='active'" if page.filename == current_page}}><a href="{{ page.filename }}" {{ "class='active contrast mainpage'" if page.filename == current_page else "class='contrast mainpage'"}}>{{ page.title }}</a>
    {% if page.headers and page.filename == current_page %}
    <ul>
      {% for header, anchor in page.headers %}
      <li style="padding-bottom: 0px">
        <details {{ "open" if loop.first }} style="padding: 0px; margin-bottom: 0.35em">
          <summary style="color: var(--pico-secondary); margin-bottom:0">
            {% if header == "Entiteiten" %}
            <span class="navbar-bullet" style="color: #4E1B58">•</span> {{ header }}
            {% elif header == "Relatieklasses" %}
            <span class="navbar-bullet" style="color: #0F704A">•</span> {{ header }}
            {% elif header == "Gegevensgroepen" %}
            <span class="navbar-bullet" style="color: #37669C">•</span> {{ header }}
            {% elif header == "Algemeen" %}
            <span class="navbar-bullet" style="color: #93822d">•</span> {{ header }}
            {% endif %}
          </summary>
          <ul>
            {% for header_2, anchor_2 in page.h2_by_h1[header] %}
            <li>
              <a class=secondary href="{{ page.filename }}#{{ anchor_2 }}">{{ header_2 }}</a>
            {% endfor %}
          </ul>
        </details>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
