<!-- -*- mode: LaTex -*- -->

\documentclass[margin={15pt 15pt 15pt 15pt}]{standalone}

%% shared preamble
\usepackage{ORI-A-diagram}

\begin{document}

  % Jinja macro to render tables

  {% macro render_table(table_title, rows) -%}

    {# these names should not be present in the diagram #}
    {%- set excluded_types = ['verwijzingGegevens', 'informatieobjectGegevens',
    'agendapuntGegevens', 'besluitGegevens', 'stemresultaatPerFractieGegevens',
    'vergaderingGegevens', 'dagelijksBestuurLidmaatschapGegevens',
    'fractielidmaatschapGegevens', 'stemGegevens', 'spreekfragmentGegevens', 'natuurlijkPersoonGegevens'] -%}
    {%- set filtered_rows = rows
    | rejectattr('datatype', 'in', excluded_types)
    | list -%}


   \objectheader{ {{- table_title -}} }
  {% for row in filtered_rows %}
    {%- if row.herhaalbaar and row.verplicht -%}
      {%- set kardinaliteit = '[1..*]' -%}
    {%- elif not row.verplicht and not row.herhaalbaar -%}
      {%- set kardinaliteit = '[0..1]' -%}
    {%- elif not row.verplicht and row.herhaalbaar -%}
      {%- set kardinaliteit = '[0..*]' -%}
    {%- elif row.verplicht and not row.herhaalbaar -%}
      {%- set kardinaliteit = '' -%}
    {%- else -%}
      {%- set kardinaliteit = '' -%}
    {%- endif -%}
      \attrib
          {
            {%- if row.verplicht -%}
            \textbf{ {{- row.naam_pretty -}} }
            {%- else -%}
            {{- row.naam_pretty -}}
            {%- endif -%}
          }
    { 
      {%- if row.datatype_pretty == 'enumeratie' -%}
        \enumeratietype{ {{- row.enumeratie_naam -}} }
      {%- else -%}
        {{- row.datatype_pretty -}}
      {%- endif -%}
    }{ {{- kardinaliteit -}} }{{ '' if loop.last else '\\\\' }}
  {% endfor %}
{%- endmacro %}

  \begin{tikzpicture}
  \node (agendapunt) [ORI object]
        {
          {{ render_table('Agendapunt', agendapunt_table) }}
        };

   \node (vergadering) [ORI object, left=17cm of agendapunt]
        {
          {{ render_table('Vergadering', vergadering_table) }}
        };

   \node (gremium) [ORI gegevensgroep, left=-1.5cm of vergadering, yshift=9.15cm]
        {
          {{ render_table('Gremium', gremium_table) }}
        };

   \node (deelnemer) [ORI object,  below=3.3cm of vergadering]
        {
          {{ render_table('Aanwezige deelnemer', aanwezige_deelnemer_table) }}
        };

    \node (stemming) [ORI object, below = 3.9cm of agendapunt]
        {
          {{ render_table('Stemming', stemming_table) }}
        };

    \node (fractie) [ORI object, below = 8.5cm of stemming]
        {
          {{ render_table('Fractie', fractie_table) }}
        };

   \node (stem) [ORI relatieklasse,  at = ($(deelnemer.east)!0.5!(stemming.west)$), yshift=2.4cm]
        {
          {{ render_table('Stem', stem_table) }}
        };

   \node (stemresultaatperfractie) [ORI relatieklasse,  below right = 6.5cm and -4.5cm of stem]
        {
          {{ render_table('Stemresultaat per fractie', stemresultaat_per_fractie_table) }}
        };

   \node (dagelijksbestuur) [ORI object,  below = 5.2cm of fractie]
        {
          {{ render_table('Dagelijks bestuur', dagelijks_bestuur_table) }}
        };

   \node (spreekfragment) [ORI relatieklasse, above = 17.4cm of stem, xshift=-1.6cm]
         {

           {{ render_table('Spreekfragment', spreekfragment_table) }}
        };
        
   \node (natuurlijkpersoon) [ORI object,  left=5.0cm of deelnemer]
        {
          {{ render_table('Natuurlijk persoon', natuurlijk_persoon_table) }}
        };

   \node (naam) [ORI gegevensgroep, below = 2.2cm of natuurlijkpersoon,  xshift=-3cm]
         {
           {{ render_table('Naam', naam_table) }}
        };

   \node (nevenfunctie) [ORI gegevensgroep, above left = 2.2cm and -9cm of natuurlijkpersoon]
        {
          {{ render_table('Nevenfunctie', nevenfunctie_table) }}
        };

   \node (fractielidmaatschap) [ORI relatieklasse, below = 4.0cm of deelnemer]
        {
          {{ render_table('Fractielidmaatschap', fractielidmaatschap_table) }}
        };

   \node (dagelijksbestuurlidmaatschap) [ORI relatieklasse,  below = 6.0cm of fractielidmaatschap]
        {
          {{ render_table('Dagelijks bestuur lidmaatschap', dagelijks_bestuur_lidmaatschap_table) }}
        };

  \node (besluit) [ORI object, above right = 0.1cm and 0.9cm of stemming]
        {
          {{ render_table('Besluit', besluit_table) }}
        };

  \node (stemmingOverPersonenGegevens) [ORI gegevensgroep, below right = 6.2cm and -8.2cm of besluit]
        {
          {{ render_table('Stemming over personen', stemming_over_personen_table) }}
        };

   \node (tijdsaanduiding) [ORI gegevensgroep, right = 2.5cm of agendapunt, yshift=1.5cm]
         {
           {{ render_table('Tijdsaanduiding', tijdsaanduiding_table) }}
         };

   \node (informatieobject) [ORI relatieklasse, right = 2cm of tijdsaanduiding, yshift=0.0cm]
   {
     {{ render_table('Informatieobject', informatieobject_table) }}
     %% make the box just slightly wider (for arrow area)
     \hspace{0.8cm}
   };

  %% inner MDTO rectangle
  \node (mdto-inner) [rectangle, draw=mainblack, text=mainblack, ultra thick, right = 3.4cm of informatieobject, inner sep=40pt, fill=githubgrey, yshift=0.6cm]
        {
          {\huge \fontseries{sb}\selectfont MDTO}
        };

  % Outer MDTO rectangle (this is what arrows should connect to)
  \node (mdto) [fit=(mdto-inner), draw=mainblack, ultra thick, inner sep=1.1cm] {};


  %% Arrows

  %% FIXME: cardinalities won't be alligned, because pos= is relative to arrow length
  %% stemming -> agendapunt
  \draw [relatiepijl] (stemming) --
  node [anchor=center, fill=white] {heeft betrekking op\\\umltype{Relatiesoort}}
  node [kardinaliteit, pos=0.00, yshift=\kyshiftbeg, right]  {\oldstylenums{0..*}}
  node [kardinaliteit, pos=1.0, yshift=-\kyshiftend, right] {\oldstylenums{1}}
  (agendapunt);
  %% stemming -> besluit
  \draw[relatiepijl] ($(stemming.north)+(2.5,0)$) |- (besluit.west)
  node [pos=0.74, above] {leidt tot}
  node [pos=0.74, below] {\umltype{Relatiesoort}}
  node [kardinaliteit, pos=0.0, yshift=\kyshiftbeg, right] {\oldstylenums{0..*}}
  node [kardinaliteit, above, pos=1.0, xshift=-\kxshiftend] {\oldstylenums{0..1}};
  %% stemming -> stemming over personen
  \draw[gegevenspijl] ($(stemming.south) + (2.5, -0.0cm)$) |- (stemmingOverPersonenGegevens.west);
  %% stemming -> MDTO
  \draw[relatiepijl] ($(stemming.east) + (0, 0.0cm)$) -|
  node [kardinaliteit, pos=0, above, xshift=\kxshiftbeg]  {\oldstylenums{0..*}}
  node [kardinaliteit, pos=1, right, yshift=-\kyshiftend]  {\oldstylenums{0..*}}
  ($(mdto.south) + (2, 0cm)$);
  %% draw dashed line to informatieobject
  %% dashed arrow
  \draw[dashedpijl] ($(informatieobject.south) + (3cm, 0.0cm)$) --
    node [above, pos=1.065] {heeft als bijlage }
    node [below, pos=1.065] {\umltype{Relatiesoort}}
    ($(informatieobject.south) + (3cm, -10.8cm)$);

  %% deelnemer -> vergadering
  \draw[relatiepijl] (deelnemer)  --
  node [kardinaliteit, pos=0.0, yshift=\kyshiftbeg, right] {\oldstylenums{0..*}}
  node [kardinaliteit, pos=1.0, yshift=-\kyshiftend, right] {\oldstylenums{1}}
  node [anchor=center, fill=white] {neemt deel aan\\\umltype{Relatiesoort}} (vergadering);
  %% deelnemer -> persoon
  \draw[relatiepijl] (deelnemer) --
  node [kardinaliteit, pos=0.0, xshift=-\kxshiftbeg, above] {\oldstylenums{0..*}}
  node [kardinaliteit, pos=1.0, xshift=0.6cm, above] {\oldstylenums{1}}
  node [above] {is natuurlijk persoon}
  node [below] {\umltype{Relatiesoort}}
  (natuurlijkpersoon);
  %% deelnemer -> stemming
  \draw[dashedpijl] ($(deelnemer.east)!0.5!(stemming.west) + (0, -.40)$) -- (stem);
  \coordinate (deelnemershifted) at ($(deelnemer.east) - (0,0.7cm)$);
  \coordinate (stemmingshifted) at ($(stemming.west) - (0,0.7cm)$);
  % Use the `|-` operator to align vertically while shifting horizontally
  \draw[relatiepijl] 
  ($(deelnemershifted |- stemmingshifted)$) --
  node [kardinaliteit, pos=0.0, xshift=\kxshiftbeg, above] {\oldstylenums{0..*}}
  node [kardinaliteit, pos=1.0, xshift=-\kxshiftend, above] {\oldstylenums{0..*}}
  node [above, fill=white] {neemt deel aan} 
  node [below] {\umltype{Relatiesoort}} 
  (stemmingshifted.west);
  %% deelnemer -> agendapunt (by way of spreekfragment)
  \draw[relatiepijl] ($(deelnemer.north) + (3cm, 0)$) --
  node [kardinaliteit, pos=0.0, yshift=\kyshiftbeg, right] {\oldstylenums{0..*}}
  ($(deelnemer.north) + (3cm, 2.6cm)$) --
  node [above, pos=0.75] {spreekt tijdens}
  node [below, pos=0.75] {\umltype{Relatiesoort}}
  coordinate[pos=0.75] (tempcoordinate) %% define relatie line starting position
  ($(deelnemer.north) + (12cm, 2.6cm)$) |-
  node [kardinaliteit, pos=1.0, xshift=-\kxshiftend, above] {\oldstylenums{0..*}}
  ($(agendapunt.west) -  (0, 3.0cm)$);        
  % Draw the dashed line
  \draw[dashedpijl] ($(tempcoordinate) + (0, 2cm)$) -- 
  (tempcoordinate |- spreekfragment.south);

  
  %% agendapunt -> vergadering
  \draw[relatiepijl] ($(agendapunt.west) - (0,1cm)$) -- ($(vergadering.east) - (0,1cm)$)
  node [pos=0.5, above] {wordt behandeld tijdens}
  node [pos=0.5, below] {\umltype{Relatiesoort}}
  node [kardinaliteit, pos=0.00, xshift=-\kxshiftbeg,  above] {\oldstylenums{0..*}}
  node [kardinaliteit, pos=0.965, above] {\oldstylenums{1}};

  %% agendapunt -> agendapunt
  \draw[relatiepijl] ($(agendapunt.west)+(0, 3.8)$) |-
  node [kardinaliteit, above, xshift = -\kxshiftbeg] {\oldstylenums{0..1}} 
  ($(agendapunt.west)+(-3.0, 3.8)$) |- ($(agendapunt.west)-(3.0, -0.8)$)
  node [fill=white, pos=0.25] {heeft als subagendapunt\\\umltype{Relatiesoort}} --
  ($(agendapunt.west)+(0, 0.8)$)
  node [kardinaliteit, above, xshift = -0.8cm] {\oldstylenums{0..*}};
  %% agendapunt -> tijdsaanduiding
  \draw[gegevenspijl] ($(agendapunt.east)+(0,1.5cm)$) -- ($(tijdsaanduiding.west) + (0,0)$);
  %% tijdsaanduiding -> mdto (relatief tot)
  \draw[relatiepijl] 
  ($(tijdsaanduiding.south) + (-1.6cm,0)$) |-
  node [kardinaliteit, pos=0, above, xshift=\kxshiftbeg, yshift=-0.5cm]  {\oldstylenums{0..*}}
  ++(2cm,-1.8cm) -| ($(mdto.south) - (2cm, 0)$)
  node [kardinaliteit, pos=1, right, yshift=-\kyshiftend] {\oldstylenums{1}};
  %% dashed arrow
  \draw[dashedpijl] ($(informatieobject.south) + (-3cm, 0.0cm)$) --
    node [above, pos=1.2] {is relatief tot}
    node [below, pos=1.2] {\umltype{Relatiesoort}}
    ($(informatieobject.south) + (-3cm, -1.7cm)$);
  %% agendapunt -> mdto (heeftAlsBijlage)
  \draw[relatiepijl] 
  ($(agendapunt.east) - (0, 3.3cm)$) --
  node [kardinaliteit, pos=0, above, xshift=\kxshiftbeg] {\oldstylenums{0..*}}
  ++(2cm,0) -| (mdto.south)
  node [kardinaliteit, pos=1, right, yshift=-\kyshiftend] {\oldstylenums{0..*}};
  %% dashed arrow
  \draw[dashedpijl] ($(informatieobject.south) + (0cm, 0.0cm)$) --
    node [above, pos=1.2] {heeft als bijlage }
    node [below, pos=1.2] {\umltype{Relatiesoort}}
    ($(informatieobject.south) + (0cm, -2.9cm)$);
  %% agendapunt -> natuurlijkpersoon
  % Draw the dashed line
  \coordinate (lineendnorth) at (tempcoordinate|-informatieobject.south);
  \draw[dashedpijl] ($(tempcoordinate) + (0, 0.52cm)$) -- (lineendnorth);
  %% halfwaypoint stem and stemming
  \coordinate (midpoint) at ($(stem.east)!.5!(stemming.west) + (-0.3cm,0)$);
  % Project the midpoint to the Y-coordinate of stem.north
  \coordinate (midpointadjusted) at (midpoint|-stem.north);
  \draw[very thick, draw=mainblack] ($(agendapunt.south) - (3.0cm,0)$) |-
  node [kardinaliteit, pos=0, right, yshift=-\kyshiftbeg] {\oldstylenums{0..*}}
  (midpointadjusted) --
  ($(midpointadjusted) - (0cm, 4.59cm)$)
  % save bump location
  coordinate[pos=1.130] (bumpstart); % Save the starting point for the bump
  % Create the bump
  \draw[very thick, draw=mainblack] (bumpstart)
  arc[start angle=270, end angle=90, radius=0.3cm];
  \draw[relatiepijl, yshift=1.0cm] ($(bumpstart) + (0,0.02cm)$) --
  ($(bumpstart) - (0,3.3cm)$) -|
  node [pos=0.17, above] {heeft behandelend ambtenaar}
  node [pos=0.17, below] {\umltype{Relatiesoort}}
  node [kardinaliteit, pos=1, right, yshift=-\kyshiftbeg, xshift=\kxshiftbeg] {\oldstylenums{0..*}}
  ($(natuurlijkpersoon.south) + (3.9cm, 0)$);
  
  %% fractie -> stemming
  \draw[relatiepijl] (fractie) --
  coordinate[pos=0.5] (tempcoordinate) %% define tmp halfway coord (for allignment reasons)
  node [kardinaliteit, pos=0.00, yshift=0.25cm, right] {\oldstylenums{0..*}}
  node [kardinaliteit, pos=1.0, yshift=-0.75cm, right] {\oldstylenums{0..*}}
  (stemming);
  \coordinate (linestartfractiestemresultaat) at (tempcoordinate |- stemresultaatperfractie.east);
  %% dashed line to stemresultaat per fractie
  \draw[dashedpijl] ($(linestartfractiestemresultaat)-(0,0.3cm)$) --
  node [pos=0, anchor=center, fill=white] {neemt deel aan\\\umltype{Relatiesoort}}
  ($(stemresultaatperfractie.east)-(0,0.3cm)$);
  
  %% vergadering -> vergadering
  \draw[relatiepijl] ($(vergadering.west)+(0,2.8)$) --
  node [kardinaliteit, above, xshift = 1.0cm] {\oldstylenums{0..1}}
  ($(vergadering.west)+(-3.0,2.8)$) |- ($(vergadering.west)+(-3.0,-0.8)$)
  node [fill=white, pos=0.25] {heeft als deelvergadering\\\umltype{Relatiesoort}} --
  ($(vergadering.west)+(0,-0.8)$)
  node [kardinaliteit, above, xshift = -0.8cm] {\oldstylenums{0..*}} ;

  %% vergadering -> mdto (heeftalsbijlage)
  \draw[relatiepijl] ($(vergadering.east)+(0, 3)$) -|
  node [kardinaliteit, above, pos=0, xshift=\kxshiftbeg] {\oldstylenums{0..*}}
  ($(vergadering.east)+(11, 6.0)$) -| 
  node [kardinaliteit, right, pos=1, yshift=\kyshiftend] {\oldstylenums{0..*}}
  %% coordinate[pos=0.345] (tempcoordinate) %% define tmp halfway coord
  ($(mdto.north)+(-2.0cm,0)$);

    \draw[dashedpijl] ($(informatieobject.north) + (-3cm, 0.4cm)$) --
    node [above, pos=1.2] {heeft als bijlage}
    node [below, pos=1.2] {\umltype{Relatiesoort}}
    ($(informatieobject.north) + (-3cm, 2.7cm)$);

  
  %% vergadering -> mdto (notulen)
  \draw[relatiepijl] ($(vergadering.north)+(4, 0)$) --
  node [kardinaliteit, right, pos=0, yshift=\kyshiftbeg] {\oldstylenums{0..1}}
  ($(vergadering.north)+(4, 2.5)$) -| 
  node [kardinaliteit, right, pos=1, yshift=\kyshiftend] {\oldstylenums{0..1}}
  (mdto.north);
  %% dashed arrow
  \draw[dashedpijl] (informatieobject.north) --
  node [above, pos=1.12] {is genotuleerd in}
  node [below, pos=1.125] {\umltype{Relatiesoort}}
  ($(informatieobject.north) + (0, 4.2cm)$);

  %% vergadering -> mdto (isvastgelegdmiddels)
  \draw[relatiepijl] ($(vergadering.north)+(2, 0)$) --
  node [kardinaliteit, right, pos=0, yshift=\kyshiftbeg] {\oldstylenums{0..*}}
  ($(vergadering.north)+(2, 4.12)$) -|
  node [kardinaliteit, right, pos=1, yshift=\kyshiftend] {\oldstylenums{0..*}}
  ($(mdto.north)+(2cm,0)$);
  %% \draw[dashedpijl] ($(relatiemediabron.south) - (0cm,0.1cm)$) -- (relatiemediabron.north |- informatieobject.north);
    %% dashed arrow
  \draw[dashedpijl] ($(informatieobject.north) + (3cm, 0)$) --
  node [above, pos=1.10] {is vastgelegd middels}
  node [below, pos=1.10] {\umltype{Relatiesoort}}
  ($(informatieobject.north) + (3cm, 5.75cm)$);


  %% vergadering -> gremium
  \draw[gegevenspijl] ($(vergadering.north)+(-1.2, 0)$) |- (gremium);

  %% spreekfragment -> tijdsaanduiding
  \draw[gegevenspijl] ($(spreekfragment.east)+(0, -2.5)$) -|
  ($(tijdsaanduiding.north) + (-1.6cm,0.4cm)$);
  
  %% persoon -> naam
  \draw[gegevenspijl] ([xshift=-1.7cm] natuurlijkpersoon.south) -- ([xshift=1.3cm] naam.north);
  %% persoon -> nevenfunctie
  \draw[gegevenspijl] ([xshift=-2cm] natuurlijkpersoon.north) -- ([xshift=-2cm] natuurlijkpersoon.north |- nevenfunctie.south);
  %% persoon -> fractie (by way of fractielidmaatschap)
  % calculate endpoint
  \coordinate (Y) at ($(fractielidmaatschap.south)-(0.0cm,2.5cm)$);
  \coordinate (endpoint) at (fractie.west|-Y);
  \draw[relatiepijl] (natuurlijkpersoon) ($(natuurlijkpersoon.south)+(2.4,0)$)  |-
  node[kardinaliteit, pos=0, right, yshift=-\kyshiftbeg] {\oldstylenums{0..*}}
  coordinate[pos=1.0] (linestartfractielidmaatschap) % coordinate along the line
  (Y) --
  node[kardinaliteit, pos=1, above, xshift=-\kxshiftend] {\oldstylenums{0..*}}
  (endpoint.west);
  %% dashed line
  \draw[dashedpijl, yshift=-3cm] (linestartfractielidmaatschap) --
  node [above, fill=white, pos=0.0] {is lid van}
  node [below, pos=0.0] {\umltype{Relatiesoort}}
  (fractielidmaatschap.south);
  %% persoon -> dagelijks bestuur (by way of dagelijksbestuurlidmaatschap)
  \draw[relatiepijl] (natuurlijkpersoon) ($(natuurlijkpersoon.south)+(1.0,0)$) |-
  node[kardinaliteit, pos=0, right, yshift=-\kyshiftbeg] {0..*}
  node[kardinaliteit, pos=1, above, xshift=-\kxshiftend] {0..*}
  ($(dagelijksbestuur.west) - (0, 0.5cm)$);
  %% dashed line
  \draw[dashedpijl] (dagelijksbestuurlidmaatschap.south) --
  node [above, pos=1.34] {is lid van}
  node [below, pos=1.32] {\umltype{Relatiesoort}}
  ($(dagelijksbestuurlidmaatschap.south) - (0, 1.67cm)$);

  %% enumeraties
  {% raw %}
  \newcommand{\enumeration}[2]{
    \umltype{Enumeratie} \; \textcolor{mainblack}{{\fontseries{sb}\selectfont #1}}\\[0.9ex]
    
    \hspace{0.45em}
    \parbox[t]{0.93\linewidth}{
      \raggedright
      \setstretch{2.35} % Increase line spacing
      #2\\[0.7ex]
      \setstretch{1.0} % Restore line spacing
    }
  }

  %% text bubbles
  \newcommand{\keuze}[1]{
    \tcbox[on line,
      boxsep=2.2pt,
      left=4pt,
      right=4pt,
      top=4pt,
      bottom=4pt,
      colframe=moderngray,
      colback=white,
      arc=7pt]{\textcolor{mainblack}{#1}}}

  \newcommand{\sep}{ \, }
  \newcommand{\seprule}{\noindent\hspace{0cm}\textcolor{moderngray}{\rule{\dimexpr\linewidth-0.1cm\relax}{1.0pt}}\\[0.7ex]}

  \arrayrulecolor{moderngray}
  \setlength{\arrayrulewidth}{0.7pt} %% a slightly less thick line looks bettter here imo
  {% endraw %}

  {% raw %}
  \node[draw=mainblack, rounded corners=5pt, very thick, inner sep=16pt,
    label={[anchor=south west]north west:{\large \textcolor{mainblack}{\fontseries{b}\selectfont Enumeraties}}},
    right=8.9cm of dagelijksbestuur.north, align=left, yshift=1.35cm]
  (enumeraties) {
    \begin{tabular}{@{}p{0.95\linewidth} @{\hspace{0.5cm}} | @{\hspace{0.5cm}} p{0.95\linewidth}@{}}
      \makecell[tl]{%
        \enumeration{besluitResultaat}{
          \keuze{Unaniem aangenomen}\sep\keuze{Aangenomen}\sep\keuze{Verworpen}
          \sep\keuze{Geamendeerd aangenomen}\sep\keuze{Onder voorbehoud aangenomen}
        } \\
        \seprule
        \enumeration{fractieStemresultaat}{
          \keuze{Aangenomen}\sep\keuze{Verworpen}\sep\keuze{Verdeeld}
        } \\
        \seprule
        \enumeration{geslachtsaanduiding}{
          \keuze{Man}\sep\keuze{Vrouw}\sep\keuze{Anders}\sep\keuze{Onbekend}
        } \\
        \seprule
        \enumeration{keuzeStemming}{
          \keuze{Voor}\sep\keuze{Tegen}\sep\keuze{Afwezig}\sep\keuze{Onthouden}
        } \\
      } &
      \makecell[tl]{%
        \enumeration{resultaatMondelingeStemming}{
          \keuze{Voor}\sep\keuze{Tegen}\sep\keuze{Gelijk}
        } \\
        \seprule
        \enumeration{status}{
          \keuze{Gepland}\sep\keuze{Gehouden}\sep\keuze{Geannuleerd}
        } \\
        \seprule
        \enumeration{stemmingstype}{
          \keuze{Hoofdelijk}\sep\keuze{Regulier}\sep\keuze{Mondeling}
        }
        \vspace{12em}
      }
    \end{tabular}
  };
  {% endraw %}

\end{tikzpicture}

\end{document}
